{% extends "admin_panel.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calculadora.css') }}">

    <!-- Contenedor principal -->
    <div class="container-fluid calculadora-container">
        <!-- Título, mano señalando y botón del ojo -->
        <div class="d-flex justify-content-start align-items-center mb-4">
            <!-- Botón del ojo -->
            <button type="button" class="btn btn-outline-primary btn-eye" data-bs-toggle="modal" data-bs-target="#modalInfo">
                <i class="fas fa-eye"></i>
            </button>
            <!-- Imagen de la mano señalando -->
            <img src="{{ url_for('static', filename='img/hand-point-left.png') }}" alt="Mano señalando" class="hand-pointer" />

            <!-- Título -->
            <h1 class="calculadora-titulo ms-3">
                Pronóstico por Método de la Deriva
            </h1>
        </div>

        <!-- Primera sección: Formulario para ingresar el número de períodos y el horizonte -->
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card calculadora-card">
                    <div class="card-header calculadora-card-header text-center">
                        <h3>Configurar número de periodos y horizonte</h3>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            <div class="input-group mb-3">
                                <span class="input-group-text text-white calculadora-input-group-text">Número de Periodos</span>
                                <input type="number" id="num_periodos" name="num_periodos" class="form-control" min="1" placeholder="Ejemplo: 3" required>
                            </div>

                            <div class="input-group mb-3">
                                <span class="input-group-text text-white calculadora-input-group-text">Horizonte (h)</span>
                                <input type="number" id="horizonte" name="horizonte" class="form-control" min="1" placeholder="Ejemplo: 1" required>
                            </div>

                            <div class="d-grid">
                                <button type="submit" name="generar_matriz" value="generar" class="btn btn-lg btn-outline-primary">Generar Matriz</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Segunda sección: Tabla para ingresar los nombres de los períodos y valores reales -->
        {% if matriz_generada %}
            <div class="row justify-content-center mt-3">
                <div class="col-md-10">
                    <div class="card calculadora-card">
                        <div class="card-header text-white text-center calculadora-card-header">
                            <h4>Ingresa los nombres y valores reales para cada periodo</h4>
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                <input type="hidden" name="num_periodos" value="{{ num_periodos }}">
                                <table class="table table-striped table-hover text-center align-middle table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Nombre del Periodo</th>
                                            <th>Valor Real (AT)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in range(num_periodos) %}
                                        <tr>
                                            <td>
                                                <div class="input-group">
                                                    <span class="input-group-text text-white calculadora-input-group-text">Nombre del Periodo</span>
                                                    <input type="text" name="periodo_{{ i }}" placeholder="Ejemplo: Año {{ i+1 }}" class="form-control" required>
                                                </div>
                                            </td>
                                            <td>
                                                <input type="number" name="valor_real_{{ i }}" placeholder="Ejemplo: 100" class="form-control" required>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                                <!-- Campo para ingresar el nombre del siguiente período -->
                                <div class="input-group mt-3">
                                    <span class="input-group-text text-white calculadora-input-group-text">Nombre del siguiente periodo</span>
                                    <input type="text" name="nombre_siguiente_periodo" placeholder="Ejemplo: Futuro Año {{ num_periodos + 1 }}" class="form-control" required>
                                </div>

                                <div class="d-grid">
                                    <button type="submit" name="calcular_pronostico" value="calcular" class="btn btn-lg btn-success mt-3">Calcular Pronóstico</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <!-- Tercera sección: Resultados del pronóstico -->
        {% if resultados %}
            <div class="row justify-content-center mt-5">
                <div class="col-md-12">
                    <div class="card calculadora-card">
                        <div class="card-header text-white text-center calculadora-card-header">
                            <h4>Resultados del Pronóstico</h4>
                        </div>

                        <div class="card-body">
                            <table class="table table-bordered table-hover text-center align-middle">
                                <thead class="table-light">
                                    <tr>
                                        <th>Periodo</th>
                                        <th>Valor Real (AT)</th>
                                        <th>Pronóstico (FT)</th>
                                        <th>Error (AT - FT)</th>
                                        <th>Error Cuadrado (AT - FT)²</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for resultado in resultados %}
                                    <tr>
                                        <td>{{ resultado.periodo }}</td>
                                        <td>{{ resultado.valor_real }}</td>
                                        <td>{{ resultado.pronostico }}</td>
                                        <td>{{ resultado.error }}</td>
                                        <td>{{ resultado.error_cuadrado }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <!-- Mostrar el pronóstico para el siguiente período -->
                            <div class="text-center mt-4">
                                <h5 class="text-primary">Pronóstico para el siguiente periodo ({{ nombre_siguiente_periodo }}): <strong>{{ pronostico_proximo_periodo }}</strong></h5>
                            </div>

                            <!-- Mostrar el total del Error Cuadrado, ECM y RECM -->
                            <div class="text-end">
                                <h5 class="text-dark">Total Error Cuadrado: <strong>{{ total_error_cuadrado }}</strong></h5>
                                <h5 class="text-dark">Error Cuadrático Medio (ECM): <strong>{{ ecm }}</strong></h5>
                                <h5 class="text-dark">Raíz del Error Cuadrático Medio (RECM): <strong>{{ recm }}</strong></h5>
                            </div>

                            <!-- Botón para generar gráfico -->
                            <div class="text-center mt-4">
                                <button id="generarGrafico" class="btn btn-lg btn-primary">Generar Gráfico</button>
                            </div>

                            <!-- Contenedor para mostrar el gráfico -->
                            <div class="text-center mt-4">
                                <img id="graficoPronostico" style="display: none; max-width: 100%; height: auto;" alt="Gráfico de Pronóstico">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <!-- Modal de información sobre el método de la deriva -->
    {% include "modals/modal_deriva.html" %}

<!-- JavaScript para generar el gráfico -->
<script>
    document.getElementById('generarGrafico').addEventListener('click', function() {
        const grafico = document.getElementById('graficoPronostico');
        const nombreSiguientePeriodo = "{{ nombre_siguiente_periodo }}";
        grafico.src = "{{ url_for('graficar_deriva') }}?nombre_siguiente_periodo=" + encodeURIComponent(nombreSiguientePeriodo); // Llama a la ruta de graficar
        grafico.style.display = 'block'; // Muestra el gráfico
    });
</script>

{% endblock %}
